body {
  display: flex;
  background-color: lightgrey;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
.container {
  margin: auto;
}
#carousel {
  border: 3px solid #fff;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
  width: 400px;
  height: 300px;
  float: left;
}
.slides {
  padding: 0;
  margin: 0;
  width: 2030px;
  display: block;
}
.slide {
  float: left;
  list-style: none;
  height: 300px;
}
img {
  width: 400px;
  height: 300px;
  float: left;
}
button {
  height: 306px;
  float: left;
  background-color: #fff;
  border: none;
  color: gray;
  font-weight: 130px;
}
